src/main/app/exceptionhttpstatus.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="172.9.9.9" port="9999" basePath="/Test" doc:name="HTTP Request Configuration"/>
    <flow name="exceptionhttpstatusFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/exceptionHttp" doc:name="HTTP" allowedMethods="POST"/>
        <set-variable variableName="variableValue" value="#[xpath('/SADIK/ALI/DESTINATION/text()').text]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[message.payloadAs(java.lang.String).contains('Home')]">
                <set-payload doc:name="Set Payload" value="#[flowVars.variableValue]"/>
                <set-property doc:name="Property" propertyName="http.status" value="404"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/Test" method="GET" doc:name="HTTP"/>
            </when>
            <when expression="#[message.payloadAs(java.lang.String).contains('City')]">
                <set-payload doc:name="Set Payload" value="#[flowVars.variableValue]"/>
                <set-property doc:name="Property" propertyName="http.status" value="400"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/Test" method="GET" doc:name="HTTP"/>
            </when>
            <otherwise>
                <set-payload doc:name="Set Payload" value="#[flowVars.variableValue]"/>
                <set-property doc:name="Property" propertyName="http.status" value="500"/>
                <http:request config-ref="HTTP_Request_Configuration" path="/Test" method="GET" doc:name="HTTP"/>
            </otherwise>
        </choice>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[payload=='Home']" doc:name="Catch Exception Strategy">
                <set-payload value="This is not my valid home resposne." doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="200" doc:name="Property"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[payload=='City']" doc:name="Catch Exception Strategy">
                <set-payload value="This is not my valid city resposne." doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="200" doc:name="Property"/>
            </catch-exception-strategy>
            <catch-exception-strategy when="#[payload=='Country']" doc:name="Catch Exception Strategy">
                <set-payload value="This is not my valid country resposne." doc:name="Set Payload"/>
                <set-property propertyName="http.status" value="200" doc:name="Property"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>
</mule>
